# Update HOSTED_SERVER_URL with the ngrok url returned when you run `ngrok http 8080`
HOSTED_SERVER_URL="https://add-your-free-ngrok-app.ngrok-free.app"

# Update RPC_URL_MUMBAI with your Polygon Mumbai API Key: https://alchemy.com/?r=zU2MTQwNTU5Mzc2M
RPC_URL_MUMBAI="https://polygon-mumbai.g.alchemy.com/v2/S1NiBD7QNJTGZWcCGL1h80xOvDJdy7uJ"

FRONTEND_URL="http://localhost:3000"
VERIFIER_DID="did:polygonid:polygon:mumbai:2qDSfyWi65y2C6pzREHqhCK3in4zmGiuqbY1aijHxQ"